{% extends 'Inv/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear pago</title>
</head>

<body>

    <br>
    <div class="col-md-7 mx-auto d-flex align-items-center justify-content-center">
        <form class="border border-primary rounded-3 w-50 p-5 bg-light" method="POST">
            {% csrf_token %}
            <div>
                <h5>Crear pago</h5>
                <hr>
                {% for field in form %}

                <div class="mb-4 form-control-sm">
                    <label class="form-label">{{ field.label }}</label>
                    <br>
                    {{ field }}
                </div>

                {% endfor %}
                <div class="d-grid grap-10">
                    <input class="btn btn-primary" type="submit" name="Submit" value="Listo">
                </div>
            </div>
        </form>
    </div>
</body>

</html>

{% endblock %}