{% extends 'Inv/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestaciones</title>
</head>
<body>
    <div class="row">
        <div class="col-md-9 mx-auto">
            <hr>
            <a href="{% url 'Create_customer' %}" class="btn btn-primary btn-sm btn-block">Crear cliente</a>
            <a href="{% url 'Create_payment' %}" class="btn btn-primary btn-sm btn-block">Crear prestación</a>
            <hr>
            <h5>Prestaciones activas</h5>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Prestado</th>
                        <th>Crédito</th>
                        <th>Total a pagar</th>
                        <th>Pagado</th>
                        <th>Estado</th>
                        <th>Herramientas</th>
                    </tr>
                    {% for payment in payments %}
                    <tr>
                        <td>{{payment.customer}}</td>
                        <td>{{payment.date_created}}</td>
                        <td>{{payment.lened}}</td>
                        <td>{{payment.credit}}</td>
                        <td>{{payment.lened|add:payment.credit}}</td>
                        <td>{{payment.paid}}</td>
                        <td>{{payment.status}}</td>
                        <td>
                            <a href="{% url 'Add_payments' payment.id %}" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i></a>
                            <a href="{% url 'Edit_payment' payment.id %}" class="btn btn-sm btn-info"><i class="fa-solid fa-pencil"></i></a>
                            <a href="{% url 'Payment' payment.id %}" class="btn btn-sm btn-warning"><i class="fa-solid fa-eye"></i></a>
                            <a href="{% url 'Delete_payment' payment.id %}" class="btn btn-sm btn-danger"><i class="fa-sharp fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}