{% extends 'Inv/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar pago</title>
</head>
<body>
    
<br>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card card-body">

            <p>¿Estás seguro de querer borrar el pago <b>{{payment}}</b>?</p>

            <div class="card card-body">
                <h6>Detalles del pago</h6>
                <hr>
                <span style="white-space: pre-line"><b>Fecha:</b> {{payment.date_created}}
                    <b>Prestado:</b> {{payment.lened}}
                    <b>Crédito:</b> {{payment.credit}}
                    <b>Total a pagar:</b> {{total}}
                    <b>Pagado:</b> {{payment.paid}}
                    <b>En cuotas:</b> {{count}}
                    <b>Falta pagar</b> {{rest}}
                </span>
            </div>
            <br>
            <form method="POST">
                {% csrf_token %}
                
                <a href="{% url 'Payment' payment.id %}" class="btn btn-warning">Cancelar</a>

                <input type="submit" class="btn btn-danger" name="Confirm" value="Confimar">
            </form>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}