{% extends 'Inv/base.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de prestaciones</title>
</head>

<body>
    <br>
    <div class="row">
        <div class="col-md-9 mx-auto">
            <a href="{% url 'Create_payment' %}" class="btn btn-primary">Crear pago</a>
            <hr>
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Prestado</th>
                    <th>Crédito</th>
                    <th>Total a pagar</th>
                    <th>Pagado</th>
                    <th>Estado</th>
                    <th>Herramientas</th>
                </tr>
                {% for payment in payments %}
                <tr>
                    <td>{{ payment.customer }}</td>
                    <td>{{ payment.date_created }}</td>
                    <td>{{ payment.lened }}</td>
                    <td>{{ payment.credit }}</td>
                    <td>{{ payment.lened|add:payment.credit }}</td>
                    <td>{{ payment.paid }}</td>
                    <td>{{ payment.status }}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="{% url 'Payment' payment.id %}"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-sm btn-info" href="{% url 'Edit_payment' payment.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-sm btn-danger" href="{% url 'Delete_payment' payment.id %}"><i class="fa-sharp fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>

            <div class="col-md-10 d-flex justify-content-center">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
    
    
                        {% if payments.has_previous %}
    
                        <li class="page-item"><a class="page-link" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ payments.previous_page_number }}"><i
                                    class="fa-solid fa-angle-left"></i></a></li>
    
                        {% endif %}
    
                        <li class="page-item active disabled"><a class="page-link" href="">Página {{ payments.number }}</a></li>

                        {% if payments.has_next %}
    
                        <li class="page-item"><a class="page-link" href="?page={{ payments.next_page_number }}"><i
                                    class="fa-solid fa-angle-right"></i></a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ payments.paginator.num_pages }}"><i
                                    class="fa-solid fa-angles-right"></i></a></li>
    
                        {% endif %}
    
                    </ul>
                </nav>
            </div>
        </div>
    </div>


</body>

</html>
{% endblock %}