{% extends 'Inv/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de clientes</title>
</head>

<body>
  <br>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <a href="{% url 'Create_customer' %}" class="btn btn-primary">Crear cliente</a>
      <hr>
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Herramientas</th>
        </tr>
        {% for customer in customers %}
        <tr>
          <td>{{ customer }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.number }}</td>
          <td>
            <a class="btn btn-sm btn-warning" href="{% url 'Customer' customer.id %}"><i
                class="fa-solid fa-eye"></i></a>
            <a class="btn btn-sm btn-info" href="{% url 'Edit_customer' customer.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="btn btn-sm btn-danger" href="{% url 'Delete_customer' customer.id %}"><i class="fa-sharp fa-solid fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </table>


      <div class="col-md-10 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">


            {% if customers.has_previous %}

            <li class="page-item"><a class="page-link" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ customers.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>

            {% endif %}

            <li class="page-item active disabled"><a class="page-link" href="">Página {{ customers.number }}</a></li>

            {% if customers.has_next %}

            <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}"><i
                  class="fa-solid fa-angle-right"></i></a></li>
            <li class="page-item"><a class="page-link" href="?page={{ customers.paginator.num_pages }}"><i
                  class="fa-solid fa-angles-right"></i></a></li>

            {% endif %}

          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>

</html>

{% endblock %}