{% extends 'Inv/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago de {{ payment.customer.name }}</title>
</head>

<body>

    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Información del Pago</h5>
                <hr>
                <p><b>Estado:</b> {{ payment.status }}</p>
                <p><b>Fecha:</b> {{ payment.date_created }}</p>
                <p><b>Prestado:</b> {{ payment.lened }}</p>
                <p><b>Crédito:</b> {{ payment.credit }}</p>
                <p><b>Total a pagar:</b> {{ total }}</p>
                <p><b>Pagado:</b> {{ payment.paid }}</p>
                <p><b>En cuotas:</b> {{ count }}</p>
                <p><b>Falta pagar:</b> {{ rest }}</p>
                <a href="{% url 'Edit_payment' payment.id %}" class="btn btn-outline-info btn-sm btn-block">Editar pago</a>
                <a href="{% url 'Delete_payment' payment.id %}" class="btn btn-outline-danger btn-sm btn-block">Eliminar pago</a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Información del Cliente:</h5>
                <hr>
                <p><b>Nombre:</b> {{ payment.customer.name }}</p>
                <p><b>Email:</b> {{ payment.customer.email }}</p>
                <p><b>Teléfono:</b> {{ payment.customer.number }}</p>
                <a href="{% url 'Customer' payment.customer.id %}" class="btn btn-outline-warning btn-sm btn-block">Ver cliente</a>
                <a href="{% url 'Edit_customer' payment.customer.id %}" class="btn btn-outline-info btn-sm btn-block">Editar cliente</a>
                <a href="{% url 'Delete_customer' payment.customer.id %}" class="btn btn-outline-danger btn-sm btn-block">Eliminar cliente</a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Prestaciones totales al Cliente</h5>
                <hr>
                <h1 style="text-align: center; padding: 10px">{{ all_payments }}</h1>
            </div>
        </div>
    </div>

    <br>
    <div class="col-md">
        <div class="card card-body">
            <h5>Cuotas</h5>
            <hr>
            <table class="table table-sm">
                <tr>
                    <th>Fecha</th>
                    <th>Pago</th
                </tr>
                {% for quota in quotas %}
                <tr>
                    <td>{{ quota.date }}</td>
                    <td>{{ quota.value }}</td>
                {% endfor %}
            </table>
        </div>
    </div>


</body>

</html>

{% endblock %}